<% title("Home Page") %>
<p>Home Page: views/pages/home.html.erb</p>

<% if !current_user %>
<p><%= link_to "Sign in", signin_path %></p>
<% else %>
<p><%= link_to "Admin", admin_root_path %></p>
<p><%= link_to "Sign out", signout_path %></p>
<% end %>