<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Yourself!
          <br/>
          Assembled with <%= link_to "RailsBricks", "https://github.com/nicoschuele/railsbricks" %>
        </small></p>
      </div>

    </div>

  </div>
</div>
BRICK_ANALYTICS
